
.main{
	border: 1px solid forestgreen;
	background-color:aquamarine;
	display:flex;
}
.m1{
	width:20%;
	height:100px;
	background-color:#ffe5c0;
	margin-bottom:0px;
}
.m2{
	background-color:lightgray;
	width:80%;
}
.p{
	background-color:#ffe5c0;
	min-width:120px;
	width:20%;
	height:100px;
	float:left;
}