.main{
	border: 2px solid forestgreen;
	background-color:aquamarine;
	padding:0;
	margin:0;
}
.m1{
	padding: 7px;
	margin: 0;
	background-color: #ffe5c0;
	float: left;
	width: 25%;
	height: 100px;
	display: inline-block;
	margin-bottom: 10px;
}
.m2{
	margin:0;
	background-color: lightgray;
	width: 73.9%;
	min-width: 465px;
	display: inline-block;
}
ul{
  padding-top: 0;
  margin-top: 0;
  list-style-position: outside;
}

@media screen and (max-width:768px){
	
	.m1{
      margin: 0;
      float: left;
      width: 98%;
      height: 5px;
      margin-top: 20px;
      margin-bottom: 20px;
      line-height:2px;
    }
	.m2{
		margin:0;
		width: 100%;
	}
	
	li{
        display: inline-block;
    }
}